.content
	%h2 Overview
	%p OnPrem Solution Partners, LLC is a Southern California-based services and technology innovation start-up. Founded in 2013 by four ex-SVC partners, OnPrem is focused on providing exceptional talent to our clients in the areas of business consulting and technology innovation. 

	%p We differentiate ourselves from the vast number of SI and consulting companies in two ways. First, OnPrem acquires, develops, and retains the best talent in the country. We are committed to establishing an industry recognized distinction of having unparalleled US-based consulting and development talent. Second, OnPrem approaches every engagement as a partnership with our client, making client success our only priority.
.summary
	%h2 Overview
	%p 